@media screen and (min-width: 768px) {
  nav {
    padding-left: 56px;
    padding-right: 56px;
  }

  /* Headline */
  .headline {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 16px;
    margin: 0 56px;
  }
  .headline div {
    order: 1;
    margin: 0;
  }
  .headline-image {
    order: 2;
    max-width: 400px;
  }

  .restaurants-container {
    padding: 24px 56px;
    gap: 24px;
  }

  .restaurant-headline {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 16px;
    margin: 0 56px;
  }
  .restaurant-headline div {
    order: 1;
    margin: 0;
  }
  .restaurant-headline-description {
    height: 200px;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
  }
  .restaurant-headline-image {
    order: 2;
    max-width: 425px;
    height: 250px;
  }

  .detail-review-container {
    margin-left: 56px;
    margin-right: 56px;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    padding-left: 80px;
    padding-right: 80px;
    flex-wrap: nowrap;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-menu {
    visibility: visible;
    height: fit-content;
    flex-direction: row;
    flex-basis: content;
  }
  .nav-menu a {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
  }

  .hero h2 {
    font-size: 36px;
    max-width: 650px;
  }

  .headline {
    margin: 0 80px;
  }
  .headline-title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .headline-description {
    font-size: 18px;
  }

  .restaurants-container {
    padding: 24px 80px;
  }
  .restaurants-container h2 {
    font-size: 32px;
  }

  .restaurant-headline {
    margin: 0 80px;
  }

  .detail-review-container {
    margin-left: 80px;
    margin-right: 80px;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 16px;
  }
}

@media screen and (min-width: 1280px) {
  nav {
    padding-left: 104px;
    padding-right: 104px;
  }

  .headline {
    margin: 0 104px;
  }

  .restaurants-container {
    padding: 24px 104px;
  }
  .not-found-container {
    max-width: 550px;
  }
  .not-found-title {
    font-size: 96px;
  }
  .not-found-description {
    font-size: 18px;
  }

  .restaurant-headline {
    margin: 0 104px;
  }

  .detail-review-container {
    margin-left: 104px;
    margin-right: 104px;
  }
}
@media screen and (min-width: 1440px) {
  nav {
    padding-left: 128px;
    padding-right: 128px;
  }

  .headline {
    margin: 0 128px;
  }

  .restaurants-container {
    padding: 24px 128px;
  }

  .restaurant-headline {
    margin: 0 128px;
  }

  .detail-review-container {
    margin-left: 128px;
    margin-right: 128px;
  }
}
