* {
  --source-sans: "Source Sans 3", sans-serif;
  --green: #16a34a;
  --dark-blue: #101820;
  --white: #f4f4f5;
  box-sizing: border-box;
}
body {
  font-family: var(--source-sans);
  background-color: var(--white);
}
main {
  margin: 80px 0;
}
button {
  cursor: pointer;
}

/* Navigation */
nav {
  padding: 16px 32px;
  background-color: var(--dark-blue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 40px;
  height: 40px;
}
.hamburger-menu {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  fill: var(--white);
}
.nav-menu {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  height: 0;
}
.nav-menu a {
  font-weight: bold;
  color: var(--white);
  display: block;
  text-decoration: none;
  padding: 12px 0;
}
.nav-menu a:hover {
  color: var(--green);
  transition: color 300ms ease-in-out;
}
.open-nav-menu {
  transition: all 300ms ease-in-out;
  margin-top: 24px;
  opacity: 1;
  height: fit-content;
}

/* Hero */
.hero {
  position: relative;
  height: calc(400px + 72px);
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.hero h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  color: var(--white);
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  max-width: 565px;
  padding: 0 32px;
}
.hero h2 > span {
  color: var(--green);
}

/* Headline */
.headline {
  margin: 0 32px;
}
.headline-image {
  display: block;
  width: 100%;
  border-radius: 8px;
  max-width: 480px;
  margin: 0 auto;
}
.headline div {
  max-width: 480px;
  margin: 24px auto 0;
}
.headline-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}
.headline-desc {
  line-height: normal;
}

/* Restaurant */
.restaurant-container {
  background-color: var(--dark-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px 0;
  margin-top: 80px;
  padding: 24px 32px;
}
.restaurant-container h2 {
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: center;
  flex-basis: 100%;
}
.restaurant {
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  max-width: 350px;
}
.restaurant-image {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  object-position: center;
}
.restaurant div {
  padding: 16px;
}
.restaurant-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}
.restaurant-desc {
  margin-bottom: 16px;
  line-height: normal;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}
.restaurant-desc + p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 14px;
}
.restaurant button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
  height: 44px;
  padding: 0 32px;
  border-radius: 32px;
}

/* Restaurant Details */
.restaurant-details-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.75);
}
.restaurant-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: calc(100% - 64px);
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
}
.restaurant-details-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.restaurant-details > div {
  padding: 16px;
}
.restaurant-details > div > p:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 16px;
}
.restaurant-details-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}
.restaurant-details-desc {
  line-height: normal;
}

/* Footer */
footer {
  background-color: var(--dark-blue);
  height: 72px;
  display: grid;
  place-items: center;
}
footer p {
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  nav {
    padding-left: 56px;
    padding-right: 56px;
  }

  /* Headline */
  .headline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 0 16px;
    margin: 0 56px;
  }
  .headline div {
    order: 1;
    margin: 0;
  }
  .headline-image {
    order: 2;
    max-width: 400px;
  }

  .restaurant-container {
    padding: 24px 56px;
    gap: 24px;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    padding-left: 80px;
    padding-right: 80px;
    flex-wrap: nowrap;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-menu {
    opacity: 1;
    height: fit-content;
    flex-direction: row;
    flex-basis: content;
  }
  .nav-menu a {
    padding: 12px 16px;
    font-size: 18px;
  }

  .hero h2 {
    font-size: 36px;
    max-width: 650px;
  }

  .headline {
    margin: 0 80px;
  }
  .headline-title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .headline-desc {
    font-size: 18px;
  }

  .restaurant-container {
    padding: 24px 80px;
  }
  .restaurant-container h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1280px) {
  nav {
    padding-left: 104px;
    padding-right: 104px;
  }

  .headline {
    margin: 0 104px;
  }

  .restaurant-container {
    padding: 24px 104px;
  }
}
@media screen and (min-width: 1440px) {
  nav {
    padding-left: 128px;
    padding-right: 128px;
  }

  .headline {
    margin: 0 128px;
  }

  .restaurant-container {
    padding: 24px 128px;
  }
}
